In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [17]:
#Total number of players
total_players = len(purchase_df["SN"].unique())
total_players

576

In [21]:
#Number of Unique Items
num_items = len(purchase_df["Item ID"].unique())

#Average Purchase Price
avg_price = purchase_df["Price"].mean()

#Total Number of Purchases
total_purchases = len(purchase_df["Purchase ID"])

#Total Revenue
total_revenue = purchase_df["Price"].sum()

In [23]:
#Create dataframe to store summary data
summary_df = pd.DataFrame({
    "Number of Unique Items": [num_items],
    "Average Price": [avg_price],
    "Number of Purchases": [total_purchases],
    "Total Revenue": [total_revenue]
})

#Format dataframe
summary_df["Average Price"] = summary_df["Average Price"].astype(float).map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].astype(float).map("${:,.2f}".format)

summary_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [59]:
unique_SN_df = purchase_df.drop_duplicates(subset="SN")

#Percentage and Count of Male Players
male_total = unique_SN_df["Gender"].value_counts()["Male"]
male_percent = (male_total/total_players)*100

#Percentage and Count of Female Players
female_total = unique_SN_df["Gender"].value_counts()["Female"]
female_percent = (female_total/total_players)*100

#Percentage and Count of Other / Non-Disclosed
other_total = unique_SN_df["Gender"].value_counts()["Other / Non-Disclosed"]
other_percent = (other_total/total_players)*100

# Intitialise data of lists  
gender_data = [{"Total Count": male_total, "Percentage of Players":male_percent},
                {"Total Count": female_total, "Percentage of Players":female_percent}, 
               {"Total Count": other_total, "Percentage of Players":other_percent}] 
gender_df = pd.DataFrame(gender_data, index =["Male", "Female", "Other/Non-Disclosed"]) 
gender_df

                     Total Count  Percentage of Players
Male                         484              84.027778
Female                        81              14.062500
Other/Non-Disclosed           11               1.909722